*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-top: 4px;
}

/* general styling */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
}

a:hover {
  color: #019e9d;
}

i {
  font-size: 2.2rem;
}

button {
  width: 16rem;
  height: 5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #c60034;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  color: #fff;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
}

header {
  width: 90vw;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-container .logo {
  width: 8%;
  height: 70%;
}

.logo-text {
  font-size: 2.2rem;
  margin-left: 1rem;
  color: #019e9d;
}

.nav {
  flex: 1;
}

.nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link--cta {
  border: 1px solid #019e9d;
  background-color: #fff;
  color: #019e9d;
  padding: 1rem 2rem;
  border-radius: .4rem;
  transition: all 0.1s;
}

.nav-link--cta:hover {
  background-color: #019e9d;
  color: #fff;
}

main {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

/* hero section */

section.hero {
  height: 80vh;
}

.hero__text {
  flex: 1;
  padding: 12rem 4rem;
}

.hero__title {
  font-size: 4.4rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  color: #019e9d;
}

.hero__subtitle {
  color: #9a9a9a;
}

.hero button {
  margin-top: 3rem;
}

.hero__img {
  flex: 3;
}

.hero__img img {
  border-radius: 1rem;
}

/* features section */

section.features {
  align-items: center;
  margin: 3rem;
  text-align: center;
}

.visuallyhidden {
  display: none;
}

.features__list {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.features__list img {
  width: 6rem;
  height: 6rem;
}

.features__list p {
  margin: 0 auto;
  width: 70%;
  font-size: 1.4rem;
}

section.product {
  flex-flow: column;
  background-color: #08453b;
  text-align: center;
  margin-top: 2rem;
  padding-top: 4rem;
}

.product__subtitle {
  font-size: 1.4rem;
  color: #e5e5e5;
}

.product__container {
  width: 80%;
  margin: 4rem auto 0;
}

.product__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.product__item:nth-of-type(2) img {
  order: 2;
}

.product__item img {
  width: 34rem;
  height: 28rem;
  border-radius: .4rem;
}

.product__info {
  text-align: left;
  width: 40%;
}

.product__info .title {
  color: #e7d1b9;
  font-size: 3rem;
}

.product__info .desc {
  color: #ffffff;
  font-size: 1.4rem;
}

.product__info button {
  margin-top: 3rem;
}

section.testimonials {
  flex-flow: column;
  text-align: center;
  margin-top: 2rem;
}

.testimonials h1 {
  color: #019e9d;
}

.user__reviews {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user__card {
  width: 30rem;
  height: 34rem;
  margin-top: 3rem;
  border: 1px solid black;
  border-radius: .4rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
}

.user__card .username {
  color: #019e9d;
}

.user__card .review {
  font-weight: 400;
}

section.subscribe {
  flex-flow: column;
  align-items: center;
  width: 50%;
  height: 28rem;
  margin: 5rem auto;
  box-shadow: .6rem 1rem 4rem rgba(0, 0, 0, 0.4);
}

.subscribe .title {
  font-family: "Lobster", cursive;
  color: #019e9d;
  letter-spacing: 0.14rem;
  line-height: 1.4;
}

.subscribe .text {
  color: #c60034;
  text-transform: uppercase;
}

.subscribe .form {
  width: 36rem;
  margin-top: 3rem;
  display: flex;
}

.subscribe input {
  flex: 2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  border: 1px solid #c4c4c4;
  border-right: none;
  padding-left: 1.2rem;
}

.subscribe #cta--btn {
  flex: 1;
  background-color: #019e9d;
  border-radius: 0;
  box-shadow: none;
}

footer {
  width: 100%;
  background-color: #08453b;
  color: #fff;
  display: flex;
  flex-flow: column;
  text-align: center;
  line-height: 3;
}

footer .part-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 4rem auto;
}

footer .part-1 .title {
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
}

footer .part-2 {
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #fff;
}

footer .part-2 .list {
  width: 30%;
}

ul.list:last-child {
  display: flex;
  justify-content: space-evenly;
}